* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: gf;
}

body {
	background: #E3F2FD;
}

.chatbot {
	position: fixed;
	right: 40px;
	bottom: 100px;
	width: 420px;
	overflow: hidden;
	background: #fff;
	border-radius: 15px;
	box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),
	0 32px 64px -48px rgba(0, 0, 0, 0.5),
}

.chatbot header {
	background: #724ae8;
	padding: 16px 0;
	text-align: center;
}

.chatbot header h2 {
	color: #fff;
	font-size: 1.4rem;
}

